<h1 align='center' style="color:blue">PIAIC Class-03</h1>
<br><br><br>
<h3 align='center'>Inroduction to Python</h3>
<br><br><br>
<h4>Date: 01-12-2019</h4>
<h4>Class Time : 12:15 PM </h4>

## Arithmatic Operators

 <p>
  + ------> Addition <br>
  - ------> Subtraction <br>
  * ------> Multiplication <br>
  / ------> Division <br>
 </p>

In [42]:
# Addition/Concatination
# For numeric ---> Addition
a = 2
b = 3
c = a + b
print(c)

5

In [43]:
# For string ----> Concatination
a = "A"
b = "B"
res = a + b
print(res)
# In sets addition avoidable

AB

In [44]:
# Appends two lists
list = ["Monis","Ali"]
list1 = ["Zain","-Ul-"," Abid","-E-","Din"]
list+list1

['Monis', 'Ali', 'Zain', '-Ul-', ' Abid', '-E-', 'Din']

In [45]:
# Subtraction
# In lists subtration avoidable
a = 4
b = 8
c = a - b
print(c)

-4

In [47]:
set1 = {"A","B","C"}
set2 = {"C"}
res = set1 - set2
print(res)

{'A', 'B'}

In [48]:
#Multiplication
a = 3
b = 7
res = a * b
print(res)

21

In [50]:
# String multiplication with integers
string = "A"
mul = 3
res = string * mul
print(res)

AAA

In [52]:
# String multiplication with list
# appends that times
list = ["a","b"]
list1 = list*3
print(list1)

['a', 'b', 'a', 'b', 'a', 'b']

In [54]:
# Multiplication with tuple
# Result as append values for n times
tup = ("a","b")
tup1 = tup*2
print(tup1)

('a', 'b', 'a', 'b')

In [69]:
# Division
# In string division is avoidable
# Result will be in float data type
a = 11
b = 4
res = a/b
print(res)

2.75

In [56]:
# Float division
# Avoid floating points / Decimal points neglect
res1 = a//b
print(res1)

2

### Modulus ( % )
It operates on two values

a = 11
b = 4
when we divide a with b
a/b -----> res = 2 , reminder = 3

In [71]:
# Result will be reminder in case of division
res2 = a%b
print(res2)

3

In [58]:
# Power of **
a = 2
b = 3
res3 = a**b
print(res3)

8

In [59]:
# In string power of Avoidable
string = "Aa"
newstr = string **2
print(newstr)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Comparision (Relational) Operators

==
>
<
>=
<=
!=

In [18]:
# LHS value is being compared with RHS value
2 == 2

True

In [19]:
'A' == 'a'

False

In [20]:
5 > 3

True

In [21]:
5 >= 5

True

In [22]:
5 > 4

True

In [23]:
"A" > "B"

False

### ASCII
A=65 --> Z=90
a=96 --> z=122

In [25]:
ord("a")

97

In [26]:
chr(97)

'a'

In [60]:
# less than
3<4

True

In [61]:
# less than or equal 
3<=3

True

In [62]:
# not equal to
6!=5

True

In [63]:
11!=11

False

In [32]:
'Monis'!="MoniS"

True

## Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [33]:
a =5
print(a)

5

In [40]:
# It assing new value and override/replace
a=6
a=8
a=2
print(a)

2

In [72]:
# It adds value and then assigns
a = 2
a+=1 # a = a+1 ---> a = 2 , a = a + 1 , a = 3
a+=2 # a = a+2 ---> a = 3 , a = a + 2 , a = 5
a+=3 # a = a+3 ---> a = 5 , a = a + 3 , a = 8
a+=4 # a = a+4 ---> a = 8 , a = a + 4 , a = 12
print(a) # a = 12

12

In [65]:
a = 100 # a = 100
a-=5    # a = a-5 ---> a = 100 , a = a - 5 , a = 95
a-=10   # a = a-10 ---> a = 95 , a = a - 5 , a = 85
a-=40   # a = a-40 ---> a = 85 , a = a - 40 , a = 45
print(a)

45

In [73]:
a = 5 # a = 5
a*=2    # a = a*2 ---> a = 5 , a = a * 5 , a = 10
a*=3   # a = a*3 ---> a = 10 , a = a * 3 , a = 30
a*=2   # a = a*2 ---> a = 30 , a = a * 2 , a = 60
print(a) # a = 60

60

In [75]:
a = 100
a/=2
a/=10
print(a)

5.0

In [76]:
a = 100
a//=2
a//=10
print(a)

5

In [77]:
a = 1
a **=2
a **=3
print(a)

1

In [78]:
a = 2
a **=2
a **=3
print(a)

64

In [79]:
a = "A"
a += "B"
print(a)

AB

In [80]:
a = [1,2,3]
a+=[5,6]
print(a)

[1, 2, 3, 5, 6]

In [81]:
a = (3,4,2)
a+=(9,7)
print(a)

(3, 4, 2, 9, 7)

## Logical Operators

and --> & ----> all values True result will be True
or --> | -----> one vlaue True will result True
not --> ! ----> True value result false
Result will be True/False

In [84]:
True and True and True

True

In [86]:
True and True and False

False

In [83]:
# on Values
(3==3) & (4==4) & (5==5)

True

In [92]:
# Example using and
user = input("Enter username : ")
passwd = input("Enter Password : ")
if(user == "Admin") and (passwd == "123"):
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin
Enter Password : 122
Username or Password is incorrect

In [94]:
# Example using &
user = input("Enter username : ")
passwd = input("Enter Password : ")
if(user == "Admin") & (passwd == "123"):
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin
Enter Password : 123
Login Sucessful

In [95]:
# or
True or True or False or False

True

In [96]:
# |
True | True | False | False

True

In [97]:
# or
False or False or False or False

False

In [101]:
# Example using or with and
# Three users like Admin, Admin1 , Admin2
user = input("Enter username : ")
passwd = input("Enter Password : ")
if((user == "Admin") or (user=="Admin1") or (user=="Admin2")) & (passwd == "123"):
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin
Enter Password : 123
Login Sucessful

In [103]:
# not
not(True)

False

In [104]:
not(False)

True

In [100]:
# Example using or,and,not
# Three users like Admin, Admin1 , Admin2 but Admin1 should not access 
user = input("Enter username : ")
passwd = input("Enter Password : ")
if((user == "Admin") or (not(user=="Admin1")) or (user=="Admin2")) & (passwd == "123"):
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin1
Enter Password : 123
Username or Password is incorrect

## Bitwise Operators

# Binary to decimal conversion

Power/Position     |      Base      |       Value/Decimal
0                  |      2         |        1
1                  |      2         |        2
2                  |      2         |        4
3                  |      2         |        8
4                  |      2         |        16
5                  |      2         |        32
6                  |      2         |        64
7                  |      2         |        128
8                  |      2         |        256

1011 ---> decimal

rewrite from right to left as
value          Position         Result =  value * decimal(fron above table)
1       ----->     0                1     =   1
1       ----->     1                1*2   =   2
0       ----->     2                0*4   =   0
1       ----->     3                1*8   =   8

Add all value from result

Binary  ------>  Decimal   
1101    ------>  (1+2+0+8) = 11

# bitwise and operator
110001  ----> 49
100101  ----> 37
------
100001  ----> 33

In [108]:
49 & 37

33

## Membership Operators

in
not in

In [110]:
# find any name from list without membership operators
names = ["Monis", "Ali","Qureshi"]
i=0
while(i<len(names)):
    if (names[i]=="Ali"):
        print(True)
        break
    i+=1

True

In [111]:
# Using membership operator
names = ["Monis", "Ali","Qureshi"]
"Ali" in names

True

In [112]:
names = ["We","are","Pakistani","and","We","Love","Pakistan"]
"Pakistan" in names

True

In [113]:
names = ("We","are","Pakistani","and","We","Love","Pakistan")
"Pakistan" in names

True

In [114]:
names = {"We","are","Pakistani","and","We","Love","Pakistan"}
"Pakistan" in names

True

In [115]:
# From user input
names = input("Enter Txt : ")
"Pakistan" in names

Enter Txt : Helasdkfn asdfkl asdlfnjkas asd fjkasdk fasd ff fasdjkl Pakistan

True

In [116]:
"Hello" not in names

True

## Identity Operators

In [117]:
a = '5'
b = 5
c = a
print(a is b)
print(a is c)

False
True

In [118]:
id(a) == id(c)

True

## Control Flow
if else elif

### Syntex

if-else

if logic:
    value_if_True
else:
    value _if_False

if-elif-else

if logic1:
    value_if_logic1_True
elif logic2:
    value-if_logic2_True
elif logic3:
    value_if_logic3_True
.
.
.
.

else:
    value_if_all_logics_False

In [119]:
# Example
# Three users like Admin, Admin1 , Admin2 but Admin1 should not access 
user = input("Enter username : ")
passwd = input("Enter Password : ")
if((user == "Admin") or (user=="Admin1") or (user=="Admin2")) & (passwd == "123"):
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin
Enter Password : 123
Login Sucessful

In [120]:
user = input("Enter username : ")
passwd = input("Enter Password : ")
if((user == "Admin") & (passwd == "123")):
    print("Login Sucessful")
elif user=="Admin1" & passwd == "123":
    print("Login Sucessful")
elif user=="Admin2" & passwd == "123":
    print("Login Sucessful")
else:
    print("Username or Password is incorrect")

Enter username : Admin
Enter Password : 123
Login Sucessful